<div class="companies-list-container mat-elevation-z8">
    <h2>Companies List</h2>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/add-company']">
            <mat-icon>add</mat-icon> Company
        </a>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="data" class="companies-table" matSort matSortActive="name" matSortDisableClear
            matSortDirection="asc">

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Company Name</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef="gst">
                <th mat-header-cell *matHeaderCellDef>GST</th>
                <td mat-cell *matCellDef="let row">{{row.gst}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/company-details/', row.id]">
            </tr>
        </table>
    </div>
</div>